@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overscroll-behavior: none;
}

body::-webkit-scrollbar {
	display: none;
}

progress::-webkit-progress-value {
	transition: 0.6s width ease-out;
}

.link {
	text-decoration: none;
	background-image: linear-gradient(#fd5f1e, #fd5f1e);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.3s;
	transition: all 0.3s ease-in-out;
}

.link:hover,
.group:hover .link {
	color: #fd5f1e;
	background-size: 100% 2px;
}

.link-black {
	text-decoration: none;
	background-image: linear-gradient(#000000, #000000);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.3s;
	transition: all 0.3s ease-in-out;
}

.link-black:hover,
.group:hover .link-white {
	color: #000000;
	background-size: 100% 2px;
}

.bebas {
	font-family: "Bebas Neue", sans-serif;
}

.font-regular {
	font-family: "Poppins", sans-serif;
}

.diagonal-bg {
	background-color: #000000;
	width: 100vw;
	height: 100vh;
	clip-path: polygon(0 0, 100% 0, 100% 20%, 0 60%);
}

.diagonal-bg-small {
	background-color: #000000;
	width: 100vw;
	height: 100vh;
	clip-path: polygon(0 0, 0 25%, 100% 0);
}

.text-invert {
	mix-blend-mode: difference;
}

@layer base {
	.btn-gradient {
		@apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
	}
	.btn {
		@apply !capitalize;
	}
}
